<div class="card-homepage">
<div class="bookings-title">
    <h2 id="company_name">Your Book<span class="red-text">i</span>ngs</h2>
</div>
  <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card-shark">
          <%= link_to shark_path(booking.shark) do %>
            <img src="<%= booking.shark.picture_url%>" alt="">
          <% end %>
          <div class="card-shark-info">
            <div class="card-flex-content">
              <h3 class="dark-text"><strong><%= booking.shark.name %></strong></h3>
              <h4 class="dark-text">Total: £<%= booking.shark.price %> x <%= (booking.end_date - booking.start_date).to_i %> days <br> £<%= (booking.shark.price * (booking.end_date - booking.start_date)).to_i %></h4>
              <p class="dark-text">From: <%=booking.start_date%><br>To: <%=booking.end_date%></p>
            </div>
            <%= link_to "See shark", shark_path(booking.shark), class: "btn-big" %>
          </div>
        </div>
      <% end %>
    </div>

</div>
