<div class="show-shark">
  <div class="shark-title">
    <div class="showpage-icons">
        <%= link_to sharks_path do %>
        <i class="fa-solid fa-arrow-left"></i>
        <% end %>

      <% if @shark.user == current_user %>
        <div class="edit-delete-icons">
        <%= link_to edit_shark_path do %>
        <i class="fas fa-edit"></i>
        <% end %>

        <%= link_to shark_path(@shark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>

    <% else %>
      <%= link_to sharks_path do %>
          <i class="fa-solid fa-arrow-left" style="display:none"></i>
        <% end %>

        <div class="edit-delete-icons" style="display:none">
          <%= link_to edit_shark_path do %>
            <i class="fas fa-edit" style="display:none"></i>
          <% end %>

        <%= link_to shark_path(@shark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can" style="display:none"></i>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
    <h2><%= @shark.name %></h2>
  <div class="image-details-flex">
    <img src="<%= @shark.picture_url%>" alt="shark image">
    <div class="shark-details">
      <p><strong>Age: </strong><%= @shark.age %></p>
      <p><strong>Shark Breed: </strong><%= @shark.breed %></p>
      <p><strong>Diet: </strong><%= @shark.diet %></p>
      <p><strong>Price:</strong> £<%= @shark.price %>/day</p>
    </div>
  </div>
  <br>
  <div class="details-flex">
    <div class="shark-description">
    <div class="title-icons">
      <h3>About <%= @shark.name %></h3>
      </div>
      <br>
      <p>
        <%= @shark.description %>
      </p>
    </div>
    <div class="embed-booking">
      <h3>Book <%= @shark.name %></h3>
      <br>
      <%= render 'bookings/form' %>
    </div>
  </div>
    <br>
    <div class="embed-review-form">
      <h2>Reviews</h2>

    <div class="list-reviews-flex">
      <% if @shark.reviews.blank? %>
        <p id="text-no-reviews">No'fin here yet! Be the first to leave a review for </p> &nbsp;<%= @shark.name %>.
      <% else %>
          <% @shark.reviews.each do |review| %>
            <div class="list-review-detail">
              <h5><%= review.title %>&nbsp;&nbsp;<%= '⭐️' * review.rating %></h5>
              <p><%= review.content %></p>
             <!-- <p>Rating: <%= review.rating %></p> -->
              <p><em>- <%=review.user.first_name%> <%=review.user.last_name%></em></p>
              <%= link_to review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            <% end %>
          </div>
          <% end %>
    </div>
    <br>
    <%= link_to "Leave a review", new_shark_review_path(@shark), class: "btn-big" %>
    <br>
    </div>
</div>

